.auth-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

input[type='file']::file-selector-button {
  border: 2px solid #8d69f1;
  margin-right: 15px;
  padding: 3px 8px;
  border-radius: 0.2em;
  background: #8d69f1;
  color: #fff;
  transition: 1s;
  cursor: pointer;
}
